  <h1 class="container"style="color: blue">Editing user</h1>
  <div>
  <%= render "form", user: @user %>
  <br>
    <%= link_to "Back to users", users_path, class: "btn btn-secondary btn-sm" %>
  </div>
