  <div class="container">
   <div class="card">
      <div class="card-editor"><h1><b>Editing user</b></h1></div>
  <div>
  <%= render "form", user: @user %>
  <br>
    <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
  </div>
</div>
</div>
