<body>
  <div class="container">
    <h1>About me</h1>
    <h3><b>Here may be information about me... <s>But not!!!!</s></b></h3>
    <%= link_to "HOME", root_path, class:"btn btn-primary" %>
  </div>
</body>