<div class="container">
   <div class="card">
      <div class="card-editor"><h1><b>Editing post</b></h1></div>
  <%= render "form", post: @post %>
  <br>
    <%= link_to "Back to posts", posts_path, class: "btn btn-info" %>
  </div>
</div>
